* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
}

html {
    scroll-behavior: smooth;
}

:root {

    --color-primary: #4a4a4a;
    --color-primary-variant: #969090;
    --linear-gradient:linear-gradient(54deg,
    rgba(45,45,45,0.95)34%,
    rgba(45,45,45,0.95)
    );
    --color-title: #4a4a4a;
    --color-title-new:white;
    --color-text: #555;
    --color-text-variant: #999;
    --color-dark: #88949b;
    --bg-color: #fff;
    --bg-color-variant: #e9ecef;
    --border-color:#f1f1f1;
    --transition: 0.4s ease;
    
    --fs-h1:2.75rem;
    --fs-h2:2.25rem;
    --fs-lg:1rem;
    --fs-sm:0.875rem;
    --fs-xs:0.75rem;

    --medium:500;
    --semibold:600;
    --bold:700

}

body,
button,
input,
textarea {
    background-color: var(--color-primary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
}
h1,
h2,
h3{
    font-weight: var(--bold);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.button{
    cursor:pointer;
    background: none;
    border: none;
    outline: none;
}
.container{
    margin:0 auto;
    padding-left: 0.10rem;
    padding-right: 0.10rem;
}
.grid{
    display: grid;
}
