.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
}

.navbar {
    width: 100%;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav-item {
    display: flex;
    margin-right: 1.3rem;
}

.navbar .navbar-text {
    display: none;
}

.navbar .nav-link {
    color: #f1f1f1;
    font-weight: var(--bold);
    text-transform: uppercase;
    position: relative;
    transition: 0.3s;
}

.navbar .nav-link:hover {
    opacity: 0.5;
    color: rgb(237, 242, 242);
    animation: zoom 1.5s ease;
    box-shadow: 0 0 10px rgba(2, 2, 2, 0.8);
}

.navbar .nav-link::after {
    content: '';
    border: 1px #e9ecef;
    position: absolute;
    bottom: 0;
    left: -0rem;
    width: 0px;
    height: 2px;
    background-color: #fff;
    opacity: 0.3;
    transition: 0.3s;
    border-radius: 50%;
}

.navbar .nav-link:hover::after {
    width: 100%;
    opacity: 1;
}

.active {
    opacity: 0.5;
}

.active::after {
    opacity: 1;
    background-color: #fff;
    color: rgb(228, 230, 249);
}

.navbar .navbar-brand,
.navbar .navbar-text {
    display: flex;
    color: #f1f1f1;
    font-weight: var(--bold);
}

@keyframes zoom {
    0% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1.1, 1.1);
    }
}

.checkbtn {
        font-size: 30px;
        color: white;
        float: right;
        cursor: pointer;
        display: none;
}
#check{
    display: none;
}

@media (max-width: 952px) {
    .navbar {
        position: fixed;
        justify-content: space-between;
        align-items: center;
        padding-left: 1rem;
        line-height: 2rem;
    }

    .navbar .navbar-brand {
        order: -1; 
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        width: 60%;
        text-align: center;
        background: rgba(0, 0, 0,0.75);
        position: fixed;
        top: 4.5rem;
        left: 0;
        left: -100%; 
        transition: left 0.3s ease; 

    }
    .navbar .nav-link:hover::after {
        width: 100%;
        opacity: 1;
    }

    .navbar-nav a {
        padding: 1rem;
        text-align: center;
    }
    .navbar .nav-item {
        display: block;
    }
    .checkbtn {
        display: block; 
        order: 1;
    }

    #check:checked~.navbar-nav {
        left: 0;
    }
    .navbar .navbar-text{
        display: none;
    }
}


